* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	min-height: 1600px;
	font-family: 'Montserrat', sans-serif;
	overflow: scroll;
	background-color: #181d23;
}

.panel {
	width: 1600px;
	height: 1000px;
	border-radius: 15px;
	overflow: hidden;

	.panel-left {
		background-color: #4b5769;

		.time {
			height: 160px;

			p {
				padding: 0;
			}
		}

		.cards {
			height: 700px;

			a {
				text-decoration: none;
			}

			i {
				font-size: 6rem;
				margin-bottom: 0.6rem;
			}

			.cards-label {
				display: flex;
				justify-content: center;
				flex-direction: column;
				align-items: center;
				width: 220px;
				height: 220px;
				border: 1px solid white;
				border-radius: 25px;
				color: white;
				font-size: 2rem;
				text-transform: uppercase;
				transition: background-color 0.3s;
			}
		}

		.cards-label:hover {
			background-color: transparent;
			background-image: linear-gradient(160deg, rgba(0, 110, 255, 0.25) 0%, rgba(9, 255, 0, 0.25) 100%);
		}
	}

	.panel-right {
		background-image: linear-gradient(180deg, rgba(55, 64, 76, 1) 0%, rgba(21, 26, 32, 1) 100%);

		.main-cards {
			height: 150px;
			border: 1px solid white;
			border-radius: 15px;
			transition: background-color 0.3s;

			p {
				text-transform: uppercase;
				font-size: 2rem;
			}
		}

		.main-cards:hover {
			background-color: rgba(255, 255, 255, 0.08);
		}
	}
}

.active {
	background-color: rgba(255, 255, 255, 0.2);
}

.moderate-post {
	select {
		height: 30px;
		font-size: 1.4rem;
		transition: background-color 0.3s;
	}

	select:hover {
		background-color: rgba(255, 255, 255, 0.8);
		color: #ddd;
	}

	table {
		thead {
			font-size: 1.4rem;
			font-weight: bold;
		}
		tbody {
			font-size: 1.2rem;
		}
	}

	.page-link {
		padding: 0.5em 1em;
		font-size: 1.4rem;
		background-color: transparent;
		color: #fff;
		transition: background-color 0.3s;
	}
	.page-link:hover {
		background-color: rgba(255, 255, 255, 0.8);
		color: #ddd;
	}
}

.aside {
	.fa-gem,
	.logo {
		text-shadow: 0 0 5px white;
	}
	.fa-person {
		text-shadow: 0 0 10px lime;
	}
}

.statistic {
	.statistic-title {
		font-weight: bold;
		font-size: 1.5rem;
	}
	.statistic-data {
		font-size: 1.1rem;
		color: #4b5769;
	}
}

.info-top {
	h1 {
		font-size: 4rem;
		font-weight: bold;
		text-transform: uppercase;
	}
}

.posts {
	h3 {
		font-size: 2.4rem;
		text-transform: uppercase;
		font-weight: bold;
	}
	.featured-post {
		.btn {
			font-size: 1.6rem;
		}
		.card-title {
			font-size: 1.8rem;
		}
		.card-body {
			font-size: 1.4rem;
		}
	}
}

.users {
	.card-img {
		overflow: hidden;
	}
	img {
		height: 180px;
		object-fit: cover;
		opacity: 0.6;
		transition: opacity 0.3s, transform 0.3s;
	}
	img:hover {
		opacity: 1;
		transform: scale(1.1);
	}
	.card-body {
		p,
		.btn {
			font-size: 1.5rem;
		}
	}
}

.search-post {
	font-size: 1.6rem;

	.btn {
		font-size: 1.6rem;
	}
	a {
		font-size: 1.6rem;
	}
}

.posts-modal {
	h3 {
		font-weight: bold;
		font-size: 1.3rem;
	}
	p,
	.btn {
		font-size: 1.3rem;
	}
	.modal-body {
		.btn {
			text-transform: uppercase;
		}
	}
}

.users-list {
	ul {
		ol {
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 2rem;
			padding: 10px;
			border: 1px solid white;
			border-radius: 5px;

			.btn {
				font-size: 1.6rem;
			}
		}
	}
	.page-link {
		padding: 0.5em 1em;
		font-size: 1.4rem;
		background-color: transparent;
		color: #fff;
		transition: background-color 0.3s;
	}
	.page-link:hover {
		background-color: rgba(255, 255, 255, 0.8);
		color: #ddd;
	}
}

.aside-users {
	.logo {
		text-shadow: 0 0 5px white;
	}
	label {
		font-size: 1.6rem;
	}
	input, select {
		font-size: 2rem;
		margin-bottom: 15px;
	}

	.btn {
		font-size: 1.8rem;
	}
}

.users-modal {
	label, p {
		font-size: 1.4rem;
		font-weight: bold;
	}
}
